<ejs-tab id="element" #element>
    <e-tabitems *ngFor="let AQ of AQ">
        <e-tabitem>
            <ng-template #headerText>
                <div> Journal Information
                </div>
            </ng-template>
            <ng-template #content>
                <div class="px-3 py-3">
                    <div class="journal-tab">
                        <h2>Journal of Money, Credit and Banking (JMCB)</h2>
                    </div>
                    <table class="table table-sm my-3 ">
                        <tbody *ngFor="let item of AQ.sampleData.journalDetails.Journaldata">
                            <tr>
                                <th scope="row">Short Title</th>
                                <td>{{item.ShortTitle}}</td>
                            </tr>
                            <tr>
                                <th scope="row">DOI</th>
                                <td>{{item.DOI}}</td>

                            </tr>
                            <tr>
                                <th scope="col">electronic ISSN</th>
                                <td>{{item.electronicISSN}}</td>
                            </tr>
                            <tr>
                                <th scope="col">print ISSN</th>
                                <td>{{item.printISSN}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Article ID</th>
                                <td>{{item.ArticleID}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Article type</th>
                                <td>{{item.Articletype}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Article DOI</th>
                                <td>{{item.ArticleDOI}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Copyright</th>
                                <td>{{item.Copyright}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> Metadata Information
                </div>
            </ng-template>
            <ng-template #content>
                <div class="py-3">
                    <div>
                        <h4>The Welfare Costs of Self‐Fulfilling Bank Runs</h4>
                    </div>
                    <table class="table table-sm my-3 col-3-table" contenteditable="false">
                        <thead>
                            <tr>
                                <th scope="col">Element</th>
                                <th scope="col">Manuscript</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let title of AQ.sampleData.cuData.title.manuscript">
                                <td>Title</td>
                                <td>{{title}}</td>
                                <td class="status-icon">
                                    <div (click)="onAccept($event,title)"><i class="fas fa-check" data-toggle="tooltip"
                                            data-placement="top" title="Accept"></i></div>
                                    <div (click)="onReject($event,title)"><i class="fas fa-times" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                </td>
                            </tr>
                            <tr *ngFor="let data of AQ.sampleData.cuData.author_group.manuscript">
                                <td>Author</td>
                                <td scope="row">{{data}}</td>
                                <td class="status-icon">
                                    <div (click)="onAccept($event,data)"><i class="fas fa-check" data-toggle="tooltip"
                                            data-placement="top" title="Accept"></i></div>
                                    <div (click)="onReject($event,data)"><i class="fas fa-times" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                </td>
                            </tr>
                            <tr *ngFor="let data of AQ.sampleData.cuData.affiliations.manuscript">
                                <td>Affiliation</td>
                                <td scope="row">{{data}}</td>
                                <td class="status-icon">
                                    <div (click)="onAccept($event,data)"><i class="fas fa-check" data-toggle="tooltip"
                                            data-placement="top" title="Accept" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                    <div (click)="onReject($event,data)"><i class="fas fa-times" data-toggle="tooltip"
                                            data-placement="top" title="Accept" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                </td>
                            </tr>
                            <tr *ngFor="let data of AQ.sampleData.cuData.corresponding_author_address.manuscript">
                                <td>Corresponding Author Address</td>
                                <td scope="row">{{data}}</td>
                                <td class="status-icon">
                                    <div (click)="onAccept($event,data)"><i class="fas fa-check" data-toggle="tooltip"
                                            data-placement="top" title="Accept" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                    <div (click)="onReject($event,data)"><i class="fas fa-times" data-toggle="tooltip"
                                            data-placement="top" title="Accept" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                </td>
                            </tr>
                            <tr *ngFor="let data of AQ.sampleData.cuData.corresponding_author_email_address.manuscript">
                                <td>Corresponding Author Email Address</td>
                                <td scope="row">{{data}}</td>
                                <td class="status-icon">
                                    <div (click)="onAccept($event,data)"><i class="fas fa-check" data-toggle="tooltip"
                                            data-placement="top" title="Accept" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                    <div (click)="onReject($event,data)"><i class="fas fa-times" data-toggle="tooltip"
                                            data-placement="top" title="Accept" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                </td>
                            </tr>
                            <tr *ngFor="let data of AQ.sampleData.cuData.keywords.manuscript">
                                <td>Keyword</td>
                                <td scope="row">{{data}}</td>
                                <td class="status-icon">
                                    <div (click)="onAccept($event,data)"><i class="fas fa-check" data-toggle="tooltip"
                                            data-placement="top" title="Accept" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                    <div (click)="onReject($event,data)"><i class="fas fa-times" data-toggle="tooltip"
                                            data-placement="top" title="Accept" data-toggle="tooltip"
                                            data-placement="top" title="Reject"></i></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> Figure </div>
            </ng-template>
            <ng-template #content>
                <table class="table table-sm my-3 col-4-table" contenteditable="false">
                    <thead>
                        <tr>
                            <th scope="col">Label</th>
                            <th scope="col">Caption</th>
                            <th scope="col">Citation</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let figMeta of AQ.sampleData.cuData.figure_metadata">
                            <td>{{figMeta.label}}</td>
                            <td>{{figMeta.caption}}</td>
                            <td>{{figMeta.citation}}</td>
                            <td class="status-icon">
                                <div (click)="onAccept($event,figMeta)"><i class="fas fa-check"></i></div>
                                <div (click)="onReject($event,figMeta)"><i class="fas fa-times"></i></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> Table </div>
            </ng-template>
            <ng-template #content>
                <table class="table table-sm my-3 col-4-table" contenteditable="false">
                    <thead>
                        <tr>
                            <th scope="col">Label</th>
                            <th scope="col">Caption</th>
                            <th scope="col">Citation</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tableMeta of AQ.sampleData.cuData.table_metadata">
                            <td>{{tableMeta.label}}</td>
                            <td>{{tableMeta.caption}}</td>
                            <td>{{tableMeta.citation}}</td>
                            <td class="status-icon">
                                <div (click)="onAccept($event,tableMeta)"><i class="fas fa-check"></i></div>
                                <div (click)="onReject($event,tableMeta)"><i class="fas fa-times"></i></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> References </div>
            </ng-template>
            <ng-template #content>
                <table class="table table-sm my-3 col-4-table" contenteditable="false">
                    <thead>
                        <tr>
                            <th scope="col">Label</th>
                            <th scope="col">References</th>
                            <th scope="col">Citation</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let refMeta of AQ.sampleData.cuData.reference_metadata">
                            <td>{{refMeta.label}}</td>
                            <td>{{refMeta.caption}}</td>
                            <td>{{refMeta.citation}}</td>
                            <td class="status-icon">
                                <div (click)="onAccept($event,refMeta)"><i class="fas fa-check"></i></div>
                                <div (click)="onReject($event,refMeta)"><i class="fas fa-times"></i></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </e-tabitem>
    </e-tabitems>
</ejs-tab>


<!-- 

    <e-tabitem *ngFor="let data of datas">
            <ng-template #headerText>

                <div> {{data.tabName}} </div>

            </ng-template>
            <ng-template #content>
                <div class="d-flex align-items-center">
                    <table class="table table-sm my-3 ">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Query</th>
                                <th scope="col">Status</th>
                                <th scope="col">Response</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let queries of data.queries">
                                <th scope="row" style="width: 20%;">{{queries.queryNo}}</th>
                                <td style="width: 30%;">{{queries.query}}</td>
                                <td style="width: 20%;">
                                    <select class="" style="border: none;
                                    padding: 0px 5px;">
                                        <option value="1">Accept</option>
                                        <option value="2">Reject</option>
                                    </select>
                                </td>
                                <td style="width: 30%;">
                                    <span>&#9998;</span>
                                    <div class="response">
                                        <p contenteditable="true"></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </e-tabitem>
 -->