<ejs-tab id="element" #element>
    <e-tabitems>
        <e-tabitem>
            <ng-template #headerText>
                <div> Journal Information


                </div>
            </ng-template>
            <ng-template #content>
                <app-editor></app-editor>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> Contributor Information
                </div>
            </ng-template>
            <ng-template #content>
                <app-editor></app-editor>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> Figure </div>
            </ng-template>
            <ng-template #content>
                <app-editor></app-editor>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> Table </div>
            </ng-template>
            <ng-template #content>
                <app-editor></app-editor>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> Body </div>
            </ng-template>
            <ng-template #content>
                <app-editor></app-editor>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> References </div>
            </ng-template>
            <ng-template #content>
                <app-editor></app-editor>
            </ng-template>
        </e-tabitem>
    </e-tabitems>
</ejs-tab>


<!-- 

    <e-tabitem *ngFor="let data of datas">
            <ng-template #headerText>

                <div> {{data.tabName}} </div>

            </ng-template>
            <ng-template #content>
                <div class="d-flex align-items-center">
                    <table class="table table-sm my-3 ">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Query</th>
                                <th scope="col">Status</th>
                                <th scope="col">Response</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let queries of data.queries">
                                <th scope="row" style="width: 20%;">{{queries.queryNo}}</th>
                                <td style="width: 30%;">{{queries.query}}</td>
                                <td style="width: 20%;">
                                    <select class="" style="border: none;
                                    padding: 0px 5px;">
                                        <option value="1">Accept</option>
                                        <option value="2">Reject</option>
                                    </select>
                                </td>
                                <td style="width: 30%;">
                                    <span>&#9998;</span>
                                    <div class="response">
                                        <p contenteditable="true"></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </e-tabitem>
 -->