<!-- <ejs-richtexteditor id='defaultRTE' [toolbarSettings]='tools' (created)="onCreate($event)">
    <ng-template #valueTemplate>
        <div>
            <h2></h2>
        </div>
        <table class="table table-sm my-3 query-table" contenteditable="false">
            <thead>
                <tr>
                    <th scope="col">Author</th>
                    <th scope="col">Query</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">AQ1</td>
                    <td scope="row">Please check it</td>
                </tr>

            </tbody>
        </table>
    </ng-template>
</ejs-richtexteditor> -->