<ejs-richtexteditor id='defaultRTE' [toolbarSettings]='tools' (created)="onCreate($event)">
    <ng-template #valueTemplate>
        <div>
            <h2>Journal of Money, Credit and Banking (JMCB)</h2>
        </div>
        <table class="table table-sm my-3 query-table" contenteditable="false">
            <thead>
                <tr>
                    <th scope="col">S. No</th>
                    <th scope="col">Author Query</th>
                    <th scope="col">Status</th>
                    <th scope="col">Query Response</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">AQ1</td>
                    <td>AUTHOR: Please confirm that forenames/given names (blue) and surnames/family names (vermilion)
                        have been identified correctly.</td>
                    <td>
                        <select>
                            <option>Select</option>
                            <option>Accept</option>
                            <option>Reject</option>
                        </select>
                    </td>
                    <td contenteditable="true">Please confirm that forenames/given names (blue) and surnames/family
                        names (vermilion) have been
                        identified correctly.</td>
                </tr>
                <tr>
                    <td scope="row">AQ2</td>
                    <td>AUTHOR: Please provide the e-mail address of the first author.</td>
                    <td><select>
                            <option>Select</option>
                            <option>Accept</option>
                            <option>Reject</option>
                        </select></td>
                    <td contenteditable="true">Please provide the e-mail address of the first author."</td>
                </tr>
                <tr>
                    <td scope="row">AQ3</td>
                    <td>AUTHOR: Please check the authors' affiliations for correctness.</td>
                    <td><select>
                            <option>Select</option>
                            <option>Accept</option>
                            <option>Reject</option>
                        </select></td>
                    <td contenteditable="true">Please check the authors' affiliations for correctness.</td>
                </tr>
                <tr>
                    <td scope="row">AQ4</td>
                    <td>AUTHOR: Please define OLG.</td>
                    <td><select>
                            <option>Select</option>
                            <option>Accept</option>
                            <option>Reject</option>
                        </select></td>
                    <td contenteditable="true">Please define OLG.</td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</ejs-richtexteditor>