.wiley-logo {
  padding: 15px 0px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.custom-navbar img {
  max-width: 70%;
  max-height: 300px;
  padding-left: 15px;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.custom-navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: flex-start;
  padding: 15px 20px;
  background: #fff;
  border-bottom: 1px solid #dee2e6;
  z-index: 100;
}
.custom-toolbar {
  margin-left: 40px;
  width: auto;
  color: rgba(0, 0, 0, 0.548);
  font-weight: 400;
}
.btn-toolbar {
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 8px 10px;
  transition: all 0.3s ease-in;
}
.custom-navbar .fas {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
.custom-navbar .btn-toolbar:hover,
.custom-navbar .btn-toolbar:focus {
  background: #eee;
  outline: none;
}
.container-body {
  margin-top: 62px;
  width: 100%;
}

.left-section {
  position: fixed;
  left: 0;
  min-height: 100%;
  height: auto;
  width: 17%;
}
.tabs-section {
  margin-left: 17%;
  height: auto;
  min-height: 90vh;
  background: #fafafa;
  width: 60%;
  padding: 2px 10px;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}
.right-section {
  position: fixed;
  right: 0;
  height: 90%;
  width: 23%;
}
.right-section label {
  font-size: 13px !important;
  margin-bottom: 10px !important;
}

.attachment-section,
.accept-response-section,
.response-list-section {
  height: 100%;
}
.attachment-section .header,
.accept-response-section .header,
.response-list-section .header {
  height: 7%;
  border-bottom: 1px solid #dee2e6;
  padding: 8px 10px;
  font-size: 15px;
}
.attachment-section .body,
.accept-response-section .body {
  height: 93%;
}
.response-list-section .body {
  height: 93%;
  overflow-y: scroll;
}
.e-upload {
  border: none !important;
}
.custom-editor-section {
  padding: 10px;
  font-size: 14px;
}
.custom-editor {
  min-height: 80px;
  height: auto;
  width: 100%;
  border: 1px solid #dee2e6;
  outline: none;
  font-size: 13px;
  padding: 5px;
  transition: cubic-bezier(1, 0, 0, 1);
}
.custom-editor:focus {
  box-shadow: inset 0 0 4px -3px black;
}
.response-submit-btn,
.remark-submit-btn {
  background: #eee;
  border: none;
  padding: 5px 25px;
  border-radius: 5px;
  outline: none;
  margin-top: 20px;
  margin-left: 205px;
  right: 0;
  transition: all 0.2s ease-in;
}
.ssubmit-btn:hover {
  background: #bdbdbd;
  color: white;
  box-shadow: 0px 0px 4px -2px black;
}
.response-list {
  padding: 10px;
}
.response-list ol {
  padding: 0px;
  list-style: decimal !important;
}
.response-list ol li {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in;
  border: 1px solid rgba(222, 226, 230, 1);
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 10px;
}

.response-list a {
  color: #000;
  font-size: 13px;
  text-decoration: none;
}
.response-icons .fa-trash,
.response-icons .fa-pencil-alt {
  font-size: 13px !important;
  margin: 0px 8px;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.response-icons .fa-pencil-alt:hover {
  color: blue;
}
.response-icons .fa-trash:hover {
  color: red;
}

.response-icons {
  display: flex;
  align-items: center;
}

/* Count badge */
.notification {
  position: relative;
}
.notification .count-badge {
  position: absolute;
  top: -9px;
  right: -7px;
  padding: 10px;
  font-size: 11px;
  font-weight: 600;
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d841d;
  color: white;
}
iframe {
  border: 0;
  width: 100%;
  margin-bottom: 5pt;
  height: 50pt;
  border: 1px solid rgba(222, 226, 230, 1);
}
